#main-header {
  text-align: center;
  background-color: black;
  color: coral;
  padding: 10px;
}

.planet-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#first-div {
  width: 80%;
  margin: auto;
  font-family: "Times New Roman", sans-serif;
  font-size: 15px;
  border: 3px solid black;
}

#second-div {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 3px solid coral;
}

#hello-world {
  background-color: coral;
  text-align: center;
}

#hello-again {
  background-color: coral;
  text-align: center;
}

.planet-link {
  display: block;
  text-align: center;
}

.my-form {
  padding: 20px;
  border: 3px black solid;
}

.my-form.form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"], .my-form textarea {
  padding: 8px;
  width: 80%;
}

.second-form {
  padding: 20px;
  text-align: center;
  border: 3px coral solid;
}

.second-form input[type="checkbox"] {
  margin-right: 80px;
}

.third-form {
  padding: 20px;
  text-align: center;
  border: 3px black solid;
}

.forth-form {
  padding: 20px;
  text-align: center;
  border: 3px coral solid;
}

#planet-favorite {
  display: block;
  padding: 10px;
}

#planet-visit {
  display: block;
  padding: 10px;
}

#assignment-div {
  text-align: center;
  padding: 10px;
  width: 100%;
}
